body {
    background-image: url('HomeBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#header {
    font-family: Arial, sans-serif;
    color: #ff5733;
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 2px #000000;
}
#eventname {
    font-family: Arial, sans-serif;
    color: #ff5733;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px #000000;
}
p{
    font-family: Arial, sans-serif;
    color: #ffdfd8;
    font-size: 18px;
    text-shadow: 1px 1px #000000;

}
img {
    float: left;
    width: 200px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}