body {
    background-image: url('HomeBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#header {
    font-family: Arial, sans-serif;
    color: #ff5733;
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 2px #000000;
}
#eventname {
    font-family: Arial, sans-serif;
    color: #ff5733;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px #000000;
}
#eventdetails {
    background-color: rgba(0, 0, 0, 0.64);
    border-radius: 15px;
    padding: 20px; /* Add padding to create distance to the border */
}
p {
    font-family: Arial, sans-serif;
    color: #fa9a84;
    font-size: 18px;
    
}
img {
    float: left;
    width: 300px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px;
    margin-right: 20px; /* Add margin between the image and the text */
}
#button {
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ff5733;
    background-color: #0000008e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}