body {
    background: url('pics/HomeBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #ff5214;
    text-shadow: 4px 4px 8px #000000;
}

h1,
h3 {
    text-align: center;
}

#filter-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#filter-form label,
#filter-form input,
#filter-form button {
    margin: 0 10px;
}


.event {
    display: flex;
    flex-direction: row;
    border: none;
    background-color: #000000a4;
    padding: 20px;
    margin: 100px 0;
    border-radius: 15px;
    margin-right: 20%;
    margin-left: 20%;

}

.eventText {
    display: flex;
    flex-direction: column;
}

.eventIMG {
    float: left;
    width: 33%;
    margin-right: 20px;
}

.LinkButtons {
    position: absolute;
    top: 2%;
    left: 5%;
    padding: 10px 20px;
    background-color: #00000057;
    color: #fd6730;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;

}

#Link {
    color: #fd6730;
    margin-bottom: 20px;
    margin-top: 10px;
}