body {
    background: url('pics/HomeBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #ff5214;
    text-shadow: 4px 4px 8px #000000;
}

h1 {
    text-align: center;
    font-size: 4em;
}

h3 {
    text-align: center;
    font-size: 2em;
}

#filter-form {
    display: flex;
    justify-content: center;
}

#filter-form label,
#filter-form input,
#filter-form button {
    margin: 0 10px;
}

.event {
    display: flex;
    flex-direction: row;
    border: none;
    background-color: #000000a4;
    padding: 20px;
    margin: 100px 0;
    border-radius: 15px;
    margin-right: 20%;
    margin-left: 20%;
}

.eventText {
    display: flex;
    flex-direction: column;
}

.eventIMG {
    float: left;
    width: 33%;
    margin-right: 20px;
}

.LinkButtons {
    position: absolute;
    top: 2%;
    left: 5%;
    padding: 10px 20px;
    background-color: #00000057;
    color: #fd6730;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#Link {
    color: #fd6730;
    margin-bottom: 20px;
    margin-top: 10px;
}

#event-detail-container {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #000000a4;
    padding: 20px;
    margin: 100px 0;
    border-radius: 15px;
    margin-right: 20%;
    margin-left: 20%;
}

#event-detail-container h1 {
    text-align: center;
    font-size: 4em;
}

#event-img-text {
    display: flex;
    flex-direction: row;
}

#event-text {
    display: flex;
    flex-direction: column;
}

/* Responsiv für Handy */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.5em;
        margin-top: 100px;
    }

    #filter-form {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    #filter-form label,
    #filter-form input,
    #filter-form button {
        margin: 10px 0;
    }

    .event,
    #event-detail-container {
        flex-direction: column;
        margin: 20px;
        padding: 15px;
    }

    .eventIMG {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    #event-img-text {
        flex-direction: column;
    }

    #Link {
        margin: 10px 0;
    }

    .LinkButtons {
        position: absolute;
        top: 130px;
        left: 50%;
        transform: translate(-50%, -50%); /* bewegt Element relativ zu sich selbst, in dem fal 50 % seiner eigenen breite nach liks und 50 % seiner eigeen höhe nach oben*/

    }





}