.eventH2 {
    font-size: 24px;
    text-align: left;
}

.event {
    border: 3px solid #242424;
    padding: 5px;
    margin: 10px 0;
}

.eventP {
    font-size: 20px;
}
.eventIMG {
    float: left;
    width: 33%;
    height: auto;
    margin-right: 20px;
}