body {
    background-image: url('HomeBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header {
    font-family: Arial, sans-serif;
    color: #ff5734;
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 2px #000000;
}

#underheader {
    font-family: Arial, sans-serif;
    color: #ff5733;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px #000000;
}

#event1,
#event2,
#event3 {
    background-color: rgba(255, 255, 255, 0.38);
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#event1 img,
#event2 img,
#event3 img {
    max-width: 100%;
    max-height: 80%;
    float: right;
}

#event1 h2,
#event2 h2,
#event3 h2 {
    color: #ff5733;
    text-shadow: 1px 1px #000000;
}